---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import { books as booksTable } from '../db/schema';
import { db } from '../db/db';

const books = await db.select().from(booksTable).orderBy(booksTable.title).all();
---

<Layout title="Kids Construction Books">
	<main>
		<h1>Kids Construction Books</h1>
		<ul role="list" class="link-card-grid">
			{books.map((book) => {
				return (
					<Card
						href=`/books/${book.id}`
						title={book.title}
						imgSrc={book.image}
					/>
				);
			})}
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
