---
import Layout from '../../layouts/Layout.astro';
import { books as booksTable } from '../../db/schema';
import { db } from '../../db/db';
import { eq } from 'drizzle-orm';

const { bookId } = Astro.params;

const book = await db.select().from(booksTable).where(eq(booksTable.id, parseInt(bookId))).get();

---

<Layout title="Kids Construction Books">
	<main>
		<h1>{book.title}</h1>
		<div class="centered">
			<img src={book.image} height="512">
		</div>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.centered {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
</style>
